.body {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.Container-Full {
    background-color: white;
    width: 100%;
    text-align: center;
    height: 87.9vh;
}