.form-desc {
    display: flex;
    justify-content: center;
    
        .input-data {
            border: none;
            border: 1px solid #204239;
            padding-bottom: 5px;
            width: 60%;
            border-color: #3c1e4d;
            background-color: #f4f4f4;
        }

        .btn {
            color:#fff;
            background-color:  #4aa884;
            border: 2px solid #ffffff;
            margin-left: 20px;
            border-radius: 20px;
            padding: 15px 50px;
            cursor: pointer;
        }
}

